:root {
    --background-gray: #f8f8f8;
    --thingsofabove-blue: #19b2de;
    --add-blue : #30bae1;
    --tab-green: #25c389;
    --tab-red: #de6262;
    --tab-yellow: #ffb901;
    --tab-purple: #872b9a;
    --footer: #16242f;
    --facebook-blue: #527cc4;
    --google-red: #e46145;
    --twitter-blue: #00b0e2;
    --pink : #f6679c;
    --wifi-yellow: #fea501;
    --footer-cyan: #1691bd;
    --footer-darkblue: #166ba2;
    --twitter-background-gray: #5c666f;
    --white: #ffffff;
    --border-gray: #e8e8e8;

    --font-black: #494949;
    --font-lightgray: #a2a2a2;
    --font-darkgray: #8a8a8a;

    --font-family-Ubuntu: Ubuntu;
    --font-family-Open-Sans: Open Sans;

    --font-size-12px: 12px;
    --font-size-14px: 14px;
    --font-size-10px: 10px;
}


/* Yanjun's Codes */

/* Large and up */
html, body {
    margin: 0;
    padding: 0;
}
.our-lastest-project {
    display: flex;
    flex-direction: column;
    width: 59.875em;
    margin:0 auto;
}

.our-lastest-project > h1 {
    font-family: var(--font-family-Ubuntu);
    color: var(--font-black);
    padding-top: 3.563em;
    text-align: center;
}

.our-lastest-project > p {
    font-family: var(--font-family-Open-Sans);
    color: var(--font-lightgray);
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
}

.our-latest-projects-images > img {
    width: 18.75em;
    height: 13.125em;
}
.our-latest-projects-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.625em;
    margin:0 auto;
}

.thingsfabove {
    display: flex;
    flex-direction: column;
    width: 59.875em;
    margin:0 auto;
}

.thingsfabove > h1 {
    font-family: var(--font-family-Ubuntu);
    color: var(--font-black);
    padding-top: 3.563em;
    text-align: center;
}

.thingsfabove > p {
    font-family: var(--font-family-Open-Sans);
    color: var(--font-lightgray);
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
}

.thingsfabove-box {
    display: flex;
}

.accordion-menu {
    padding-left: 0.813em;
}

.menu-1 {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--border-gray);
}

.web-solution-menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--thingsofabove-blue);
}

.web-solution-menu > i {
    font-size: 1.2em;
    padding: 1.2em;
    background-color: var(--add-blue);
    color: var(--white);
    border: solid 0.5px var(--border-gray);
}

.web-solution-menu > h4 {
    color: var(--white);
    padding-left: 1.25em;
    font-family: var(--font-family-Open-Sans);
}

.menu-open {
    display: flex;
    background-color: var(--background-gray);
    border: bold 0.1em var(--border-gray);
}

.menu-open > i {
    background-color: var(--tab-green);
    padding: 0.5em;
    margin: 1em;
    font-size: 3em;
    color: var(--white);
}

.web-solution > h3 {
    font-family: var(--font-family-Ubuntu);
    color: var(--font-black);
    padding-top: 1em;
}
.web-solution > p {
    font-size: var(--font-size-12px);
    color: var(--font-darkgray);
    padding-right: 1em;
    padding-bottom: 1em;
}

.menu-2 {
    display: flex;
    justify-content: space-between;
    border: solid 2px var(--border-gray);
    margin-top: 2.5em;
}

.menu-2 > h4 {
    color: var(--font-black);
    padding-left: 1.25em;
    font-family: var(--font-family-Ubuntu);
}

.menu-2 > i {
    font-size: 1.2em;
    padding: 1.2em;
    color: var(--font-lightgray);
    border: solid 0.5px var(--border-gray);
}

.Tab {
    margin-left: 1.625em;
}

.Tab > button {
    font-family: var(--font-family-Ubuntu);
    border: solid 2px var(--border-gray);
    border-bottom: none;
    padding: 0.2em 1.7em 0.2em 1.7em;
    font-size: 15px;
    color: var(--font-black);
}

.tab-1 {
    background-color: var(--white);
}

.tab {
    margin-left:-0.48em;
    background-color: var(--background-gray);
}

.tab-open {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--border-gray);
    width: 29.125em;
}

.tab-open-content {
    display: flex;
    margin-left: 1.438em;
    padding-top: 1em;
    padding-bottom: 0.55em;
}

.tab-open-content > i {
    padding: 1em;
    margin: 1em;
    color: var(--white);
}

.fa-flask {
    background-color: var(--tab-red);
}

.fa-leaf {
    background-color: var(--tab-green);
}

.fa-laptop {
    background-color: var(--tab-yellow);
}

.fa-users {
    background-color: var(--tab-purple);
}

.tab-open-content > p {
    font-size: var(--font-size-12px);
    color: var(--font-darkgray);
    margin: 1.3em;
}

.company-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 3.75em;
    padding-left: 1.3em;
    margin: 0 auto;
    width: 59.875em;
    gap: 1em;
}
.company-images > img {
    width: 10.75em;
    height: 7.375em;
}

footer {
    margin-top: 5em;
    background-color: var(--footer);
}

.footer-big-box {
    display: flex;
    flex-direction: column;
    width: 59.875em;
    margin: 0 auto;
}

.peewee-herman {
    display: flex;
}

.peewee-herman > img {
    width: 4.375em;
    height: 4.375em;
    border-radius: 50%;
    margin: 2em;
}

.peewee-herman-content {
    color: var(--white);
}

.peewee-herman-content > h4 {
    font-family: var(--font-family-Ubuntu);
}

.peewee-herman-content > p {
    font-size: var(--font-size-12px);
    font-family: var(--font-family-Open-Sans);
    font-style:italic;
}

.footer-hr {
   width: 59.875em; 
   border: none;
   height: 0.05em;
   background-color: var(--font-black);
}

.footer-part2 {
    display: flex;
    margin-top: 3em;
}

.footer-box > hr {
    width: 13.75em;
    border: none;
    height: 0.05em;
}

.hr-green {
    background-color: var(--tab-green);
}

.hr-yellow {
    background-color: var(--tab-yellow);
}

.hr-red {
    background-color: var(--tab-red);
}

.hr-blue {
    background-color: var(--footer-cyan);
}

.footer-box {
    color: var(--white);
    margin-right: 2em;
}

.footer-box > h3 {
    font-family: var(--font-family-Ubuntu);
}

.footer-box > p {
    font-size: var(--font-size-12px);
    font-family: var(--font-family-Open-Sans);
    padding-top: 2em;
}

.about-us-icons {
    margin-top: 1em;
}

.about-us-icons > i {
    padding: 0.6em;
}

.fa-facebook {
    background-color: var(--facebook-blue);
}

.fa-google-plus {
    background-color: var(--google-red);
}

.fa-twitter {
    background-color: var(--twitter-blue);
}

.fa-instagram {
    background-color: var(--pink);
}

.fa-rss {
    background-color: var(--wifi-yellow);
}

.flickr-photos-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3em;
    gap: 0.4em;
}

.flickr-photos-images > img {
    width: 4.375em;
    height: 4.375em;
}

.recent-tweets-box {
    display: flex;
}

.recent-tweets-box > i {
    width: 0.8em;
    height: 0.8em;
    padding: 1em;
    margin: 1em;
    border-radius: 50%;
    background-color: var(--twitter-background-gray);
}

.recent-tweets-box > p {
    font-size: var(--font-size-12px);
    font-family: var(--font-family-Open-Sans);
}

.link {
    color: var(--twitter-blue);
}

.enter-your-email {
    display: flex;
    background-color: var(--tab-red);
    margin-top: 2em;
    padding-left: 1em;
    justify-content: space-between;
}

.enter-your-email > p {
    font-size: var(--font-size-12px);
    font-family: var(--font-family-Open-Sans);
}

.enter-your-email > i {
    background-color: var(--tab-yellow);
    padding: 0.8em;
    color: var(--white);
}

.others {
    display: flex;
    margin-top: 4em;
}

.others > div {
    padding: 1em 3em;
} 

.colors-green {
    margin-left: 31.5em;
    background-color: var(--tab-green);
}

.colors-yellow {
    background-color: var(--tab-yellow);
}

.colors-red {
    background-color: var(--tab-red);
}

.colors-cyan {
    background-color: var(--footer-cyan);
}

.colors-blue {
    background-color: var(--footer-darkblue);
}




/* Medium only */
@media screen and (min-width:43.75em) and (max-width: 68.75em) {
    .our-lastest-project {
        width: 37.5em;
    }

    .our-lastest-project > p {
        font-size: var(--font-size-14px);
    }

    .our-latest-projects-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .thingsfabove {
        width: 37.5em;
    }

    .thingsfabove-box {
        display: flex;
        flex-direction: column;
    }

    .menu-2 {
        display: flex;
        justify-content: space-between;
        border: solid 2px var(--border-gray);
        margin-top: 1em;
    }

    .Tab {
        margin-top: 3em;
        margin-left: 0.6em;
    }

    .tab-open {
        display: flex;
        flex-direction: column;
        border: solid 2px var(--border-gray);
        width: 37.5em;
    }

    .company-images {
        width: 37.5em;
        display: grid;
    }

    .company-images > img {
        width: 6.688em;
        height: 4.688em;
    }

    .footer-big-box {
        display: flex;
        flex-direction: column;
        width: 37.5em;
        margin: 0 auto;
    }

    .footer-hr {
        width: 37.5em;
        border: none;
        height: 0.07em;
        background-color: var(--font-black);
    }

    .footer-part2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-box {
        margin-top: 3em;
        margin-right: 4em;
    }

    .footer-box > hr {
        width: 17.75em;
        border: none;
        height: 0.07em;
        margin-left: -0.1em;
    }

    .flickr-photos-images > img {
        width: 5.625em;
        height: 5.625em;
    }

    .colors-green {
        margin-left: 9.4em;
        background-color: var(--tab-green);
    }
}




/* Small only */
@media screen and (max-width: 43.75em) {
    .our-lastest-project {
        width: 25em;
    }

    .our-lastest-project > p {
        font-size: var(--font-size-10px);
    }

    .our-latest-projects-images {
        display: grid;
        grid-template-columns: 1fr;
    }

    .thingsfabove {
        display: none;
    }

    .company-images {
        display: none;
    }

    .page_footer {
        width: 43.75em;
    }

    .footer-big-box {
        display: flex;
        flex-direction: column;
        width: 25em;
    }

    .peewee-herman {
        display: flex;
    }

    .peewee-herman > img {
        width: 11em;
        height: 11em;
        border-radius: 50%;
    }

    .peewee-herman-content {
        display: flex;
        flex-direction: column;
    }

    .footer-hr {
        width: 25em;
        border: none;
        height: 0.1em;
        background-color: var(--font-black);
    }

    .footer-part2 {
        display: flex;
        flex-direction: column;
    }
    
    .box-1 > h3 {
        display: none;
    }

    .box-1 > hr {
        display: none;
    }

    .box-1 > p {
        display: none;
    }

    .about-us-icons{
        padding-left: 3em;
    }

    .about-us-icons > i {
        font-size: 1.7em;
    }

    .box-2, .box-4 {
        display: none;
    }

    .box-3 {
        margin-top: 3em;
    }

    .footer-box > hr {
        width: 22.75em;
        border: none;
        height: 0.08em;
    }

    .recent-tweets-box > p {
        padding-top: 1em;
        font-size: var(--font-size-12px);
        font-family: var(--font-family-Open-Sans);
    }

    .colors-green {
        margin-left: -3em;
        background-color: var(--tab-green);
    }
}