:root {
    --background-gray: #f8f8f8;
    --thingsofabove-blue: #19b2de;
    --add-blue : #30bae1;
    --tab-green: #25c389;
    --tab-red: #de6262;
    --tab-yellow: #ffb901;
    --tab-purple: #872b9a;
    --footer: #16242f;
    --facebook-blue: #527cc4;
    --google-red: #e46145;
    --twitter-blue: #00b0e2;
    --pink : #f6679c;
    --wifi-yellow: #fea501;
    --footer-cyan: #1691bd;
    --footer-darkblue: #166ba2;
    --twitter-background-gray: #5c666f;
    --white: #ffffff;
    --border-gray: #e8e8e8;
    --light-blue: #a2d3f2;
    --light-red: #eda1a1;
    --light-yellow: #fbda84;
    --dark-cyan: #0c647e;


    --font-black: #494949;
    --font-lightgray: #a2a2a2;
    --font-darkgray: #8a8a8a;

    --font-family-Ubuntu: Ubuntu;
    --font-family-Open-Sans: Open Sans;
    --font-family-sans-serif: sans-serif;
    --font-family-revert: revert;

    --font-size-12px: 12px;
    --font-size-14px: 14px;
    --font-size-10px: 10px;

    --max-width: 60em;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-sans-serif);
}

/* Andrea's code */

/* NavBar */
.page_header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.navigation--bar {
    width: 60%;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
}
.page-logo {
    display: flex;
    width: 15em;
}
.menu-icon {
    display: none;
}
.navbar--icons {
    display: flex;
}
.navbar--icon--image {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    background-color: #ffffff4a;
    padding: 0.3em;
    border-radius: 1em;
    margin-bottom: 1em;
}
.navbar--icon--type, .navbar--icon--type--with--arrow {
    padding: 1.5em 2.5em;
    position: relative;
    color: var(--white);
    text-decoration: none;
    transition: transform .2s;
}
.navbar--icon--type:hover, .navbar--icon--type--with--arrow:hover {
    opacity: 0.6;
}
.navbar--icon--text {
    position: absolute;
    bottom: 1em;
    left: 1em;
    margin: 0;
    font-size: 0.9em;
}
.navbar--icon--text--with--arrow {
    display: flex;
}
.navbar--icon--arrow {
    position: absolute;
    bottom: 1.3em;
    right: 1.3em;
    font-size: 0.7em;
}
.home--icon {
    background: var(--tab-green);
}
.page--icon {
    background-color: var(--tab-yellow);
}
.blog--icon {
    background-color: var(--tab-red);
}
.portfolio--icon {
    background-color: var(--footer-cyan);
}
.email--icon {
    background-color: var(--footer-darkblue);
}

/* Carousel Images */
.carousel--images {
    display: flex;
    justify-content: center;
    position: relative;
}
.display-img{
    width: 100%;
    max-width: 60em;
}
.slides-images-info {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    position: absolute;
    left: 24em;
    bottom: 0em;
}
.carousel-images-text {
    margin: 0;
    padding: 0.5em;
    width: fit-content;
}
.carousel-images-text-border-metro {
    border-left: 5px solid var(--footer-darkblue);
    background-color: var(--light-blue);
}
.carousel-images-text-border-retina {
    border-left: 5px solid var(--tab-red);
    background-color: var(--light-red);
}
.carousel-images-text-border-responsive {
    border-left: 5px solid var(--tab-yellow);
    background-color: var(--light-yellow);
}
.image--arrow {
    position: absolute;
    top: 50%;
    padding: 0.3em 0.4em;
    border: 2px solid black;
    border-radius: 3em;
    cursor: pointer;
}
.previous--image {
    left: 12em;
}
.next--image {
    right: 12em;
}

.previous--image:hover, .next--image:hover {
    opacity: 0.6;
}

/* Page Theme Text */
.page-theme {
    margin-top: 5em;
}
.page-theme-text {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    font-family: var(--font-family-revert);
}
.page-theme-text-highlight {
    color: var(--footer-cyan);
}

/* Things That We Do */
.things-that-we-do {
    margin-top: 3em;
    text-align: center;
}
.things-that-we-do-main-text {
    margin: 0;
    font-size: 1.3em;
    font-family: var(--font-family-revert);
}
.things-that-we-do-secondary-text {
    margin: 0;
    font-size: 0.7em;
    color: var(--font-darkgray);
}
.page-services {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.page-services-table {
    display: flex;
    max-width: 60em;
    gap: 1em;
}
.page-services-table-section {
    display: flex;
    gap: 1em;
}
.page-services-table p {
    line-height: 1.5em;
    font-size: 0.7em;
}
.page-services-table h5 {
    margin: 1.5em auto;
}
.page-services-table-section i {
    font-size: 2em;
}
.web-solution-icon {
    border: 2px solid var(--tab-yellow);
    padding: 0.3em 0.6em;
    color: var(--tab-yellow);
}
.photography-icon {
    border: 2px solid var(--tab-green);
    padding: 0.3em;
    color: var(--tab-green);
}
.web-developement-icon {
    border: 2px solid var(--tab-red);
    padding: 0.3em;
    color: var(--tab-red);
}
.web-design-icon {
    border: 2px solid var(--footer-darkblue);
    padding: 0.3em 0.4em;
    color: var(--footer-darkblue);
}

/* What's Up Lately  */
.whats-up-title {
    text-align: center;
    margin: 2em 0em 0.3em 0em;
    font-size: 1.3em;
    font-family: var(--font-family-revert);
}

.whats-up-text {
    text-align: center;
    margin: 0;
    font-size: 0.7em;
    color: var(--font-darkgray);
}
.whats-up-lately-display img {
    width: 18.8em;
}
.whats-up-lately-info {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
.whats-up-lately-sample {
    display: none;
}
.whats-up-lately-info-table {
    display: flex;
    gap: 1.5em;
    max-width: 60em;
    position: relative;
    height: 14em;
}
.whats-up-lately-info-section {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.whats-up-lately-mobile-table-size {
    display: none;
}
.whats-up-lately-date {
    position: absolute;
    background-color: var(--tab-red);
    text-align: center;
    padding: 0.3em;
    color: var(--white);
}
.release-img-date {
    margin: 0;
    font-size: 0.9em;
}
.release-image-month-year {
    margin: 0.1em 0 0 0;
    font-size: 0.5em;
}
.whats-up-image-footer-top, .whats-up-image-footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--footer-cyan);
    padding: 0.5em;
    align-items: center;
    position: absolute;
    bottom: 0em;
    width: 18.1em;
    color: var(--white);
}
.whats-up-image-text {
    margin: 0;
    font-size: 0.9em;
}
.whats-up-image-type {
    margin: 0;
    font-size: 0.7em;
}
.whats-up-camera-icon {
    background-color: var(--dark-cyan);
    padding: 0.5em;
    font-size: 0.8em;
}
.whats-up-lately-line {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.whats-up-lately-line-two-color {
    width: 60em;
    background:var(--border-gray);
    position:relative;
    height:2px;
}
.whats-up-lately-line-two-color::after {
    content:'';
    background: var(--footer-cyan);
    width:30%;
    height:2px;
    position: absolute;    
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* NavBar */
    .page-logo {
        width: 14em;
    }
    .navbar--icon--type, .navbar--icon--type--with--arrow {
        padding: 1em 1.9em;
    }
    /* Carousel */
    .display-img {
        max-width: 48em;
    }
    .slides-images-info {
        font-size: 0.7em;
        left: 24em;
        bottom: 1em;
    }
    .next--image {
        right: 8em;
    }
    .previous--image {
        left: 8em;
    }
    /*  */
    .page-theme {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page-theme-second-paragraph {
        max-width: 15em;
    }
    .page-services-table-section {
        flex-direction: column;
        gap: 1em;
    }
    .page-services-table {
        max-width: 37.5em;
    }
    /* What's Up Lately */
    .whats-up-lately-info-table {
        flex-direction: column;
        max-width: 37.5em;
    }
    .whats-up-lately-display img {
        width: 17.5em;
    }
    .whats-up-image-footer-desktop-size, .whats-up-lately-desktop-size {
        display: none;
    }
    .whats-up-lately-mobile-table-size {
        display: block;
        width: 17.5em;
        background-color: var(--footer-cyan);
    }
    .whats-up-image-footer-top {
        width: 16.5em;
    }
    .whats-up-image-footer-bottom {
        bottom: -15em;
        width: 16.5em;
    }
    .whats-up-lately-line {
        margin-top: 17em;
    }
    .whats-up-lately-line-two-color {
        width: 37.5em;
    }
    .whats-up-lately-info-table {
        height: 13em;
    }
}
/* Small only */
@media screen and (max-width: 39.9375em) {
    /* navbar */
    .navigation--bar {
        width: 55%;
    }
    .menu-icon {
        display: block;
        font-size: 2em;
        padding: 1em;
        color: var(--footer-cyan);
        cursor: pointer;
    }
    .navbar--icons {
        display: none;
    }
    /* carousel image */
    .carousel--images {
        display: none;
    }
    /*  */
    .page-services {
        width: 100%;
    }
    .page-services-table {
        max-width: 20em;
    }
    .page-theme {
        text-align: -webkit-center;
        margin-top: 1.5em;
    }
    .page-theme-text {
        max-width: 12em;
    }
    .page-theme-second-paragraph {
        max-width: 14em;
    }
    .page-services-table {
        flex-direction: column;
    }
    .page-services-table-section {
        flex-direction: column;
    }
    .page-services-icon-and-text {
        display: flex;
        align-items: flex-start;
    }
    .page-services-text {
        text-align: initial;
        margin-left: 1em;
    }
    .page-services-text h5 {
        margin: 0;
    }
    .whats-up-image-footer-desktop-size {
        display: flex;
        width: 17.5em;
    }
    .whats-up-lately-desktop-size {
        display: block;
    }
    .whats-up-lately-info-section {
        flex-direction: column;
    }
    .whats-up-lately-mobile-table-size {
        display: flex;
    }
    .whats-up-image-footer-mobile-size {
        bottom: -15.5em;
    }
    .whats-up-image-footer-bottom-mobile-size-first {
        bottom: -30.5em;
    }
    .whats-up-image-footer-bottom-mobile-size-second {
        bottom: -46em;
    }
    .whats-up-lately-info-table {
        flex-direction: column;
        height: 14em;
        max-width: 19em;
    }
    .whats-up-lately-display img {
        width: 100%;
    }
    .whats-up-image-footer-top, .whats-up-image-footer-bottom {
        width: 18em;
    }
    .whats-up-lately-line {
        margin-top: 48em;
    }
    .whats-up-lately-line-two-color {
        width: 19em;
    }
    
}








/* Yanjun's Codes */

/* Large and up */
.our-lastest-project {
    display: flex;
    flex-direction: column;
    width: 60em;
    margin:0 auto;
}

.our-lastest-project > h1 {
    font-family: var(--font-family-Ubuntu);
    color: var(--font-black);
    padding-top: 1.3em;
    text-align: center;
}

.our-lastest-project > p {
    font-family: var(--font-family-Open-Sans);
    color: var(--font-lightgray);
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
}

.our-latest-projects-images > img {
    width: 18.9em;
    height: 13.125em;
    object-fit: cover;
}

.our-latest-projects-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.7em;
    margin:0 auto;
}

.thingsfabove {
    display: flex;
    flex-direction: column;
    width: 60em;
    margin:0 auto;
}

.thingsfabove > h1 {
    font-family: var(--font-family-Ubuntu);
    color: var(--font-black);
    padding-top: 3.563em;
    text-align: center;
}

.thingsfabove > p {
    font-family: var(--font-family-Open-Sans);
    color: var(--font-lightgray);
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
}

.thingsfabove-box {
    display: flex;
}

.menu-1 {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--border-gray);
}

.web-solution-menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--thingsofabove-blue);
}

.web-solution-menu > i {
    font-size: 1.2em;
    padding: 1.2em;
    background-color: var(--add-blue);
    color: var(--white);
    border: solid 0.5px var(--border-gray);
}

.web-solution-menu > h4 {
    color: var(--white);
    padding-left: 1.25em;
    font-family: var(--font-family-Open-Sans);
}

.menu-open {
    display: flex;
    background-color: var(--background-gray);
    border: bold 0.1em var(--border-gray);
}

.menu-open > i {
    background-color: var(--tab-green);
    padding: 0.5em;
    margin: 1em;
    font-size: 3em;
    color: var(--white);
}

.web-solution > h3 {
    font-family: var(--font-family-Ubuntu);
    color: var(--font-black);
    padding-top: 1em;
}
.web-solution > p {
    font-size: var(--font-size-12px);
    color: var(--font-darkgray);
    padding-right: 1em;
    padding-bottom: 1em;
}

.menu-2 {
    display: flex;
    justify-content: space-between;
    border: solid 2px var(--border-gray);
    margin-top: 2.5em;
}

.menu-2 > h4 {
    color: var(--font-black);
    padding-left: 1.25em;
    font-family: var(--font-family-Ubuntu);
}

.menu-2 > i {
    font-size: 1.2em;
    padding: 1.2em;
    color: var(--font-lightgray);
    border: solid 0.5px var(--border-gray);
}

.Tab {
    margin-left: 1.625em;
}

.Tab > button {
    font-family: var(--font-family-Ubuntu);
    border: solid 2px var(--border-gray);
    border-bottom: none;
    padding: 0.2em 1.7em 0.2em 1.7em;
    font-size: 15px;
    color: var(--font-black);
}

.tab-1 {
    background-color: var(--white);
}

.tab {
    margin-left:-0.48em;
    background-color: var(--background-gray);
}

.tab-open {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--border-gray);
    width: 29em;
}

.tab-open-content {
    display: flex;
    margin-left: 1.438em;
    padding-top: 1em;
    padding-bottom: 0.55em;
}

.tab-open-content > i {
    padding: 1em;
    margin: 1em;
    color: var(--white);
}

.fa-flask {
    background-color: var(--tab-red);
}

.fa-leaf {
    background-color: var(--tab-green);
}

.fa-laptop {
    background-color: var(--tab-yellow);
}

.fa-users {
    background-color: var(--tab-purple);
}

.tab-open-content > p {
    font-size: var(--font-size-12px);
    color: var(--font-darkgray);
    margin: 1.3em;
}

.company-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 3.75em;
    justify-content: space-between;
    gap: 1em;
    margin: 0 auto;
    width: 60em;
}
.company-images > img {
    width: 11.22em;
    height: 7.375em;
    object-fit: cover;
}

footer {
    margin-top: 5em;
    background-color: var(--footer);
}

.footer-big-box {
    display: flex;
    flex-direction: column;
    width: 60em;
    margin: 0 auto;
}

.peewee-herman {
    display: flex;
}

.peewee-herman > img {
    width: 4.375em;
    height: 4.375em;
    border-radius: 50%;
    margin: 2em;
    object-fit: cover;
}

.peewee-herman-content {
    color: var(--white);
}

.peewee-herman-content > h4 {
    font-family: var(--font-family-Ubuntu);
}

.peewee-herman-content > p {
    font-size: var(--font-size-12px);
    font-family: var(--font-family-Open-Sans);
    font-style:italic;
}

.footer-hr {
   width: 60em; 
   border: none;
   height: 0.05em;
   background-color: var(--font-black);
}

.footer-part2 {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.footer-box > hr {
    width: 13.75em;
    border: none;
    height: 0.05em;
}

.hr-green {
    background-color: var(--tab-green);
}

.hr-yellow {
    background-color: var(--tab-yellow);
}

.hr-red {
    background-color: var(--tab-red);
}

.hr-blue {
    background-color: var(--footer-cyan);
}

.footer-box {
    color: var(--white);
}

.footer-box > h3 {
    font-family: var(--font-family-Ubuntu);
}

.footer-box > p {
    font-size: var(--font-size-12px);
    font-family: var(--font-family-Open-Sans);
    padding-top: 2em;
}

.about-us-icons {
    margin-top: 1em;
}

.about-us-icons > i {
    padding: 0.6em;
}

.fa-facebook {
    background-color: var(--facebook-blue);
}

.fa-google-plus {
    background-color: var(--google-red);
}

.fa-twitter {
    background-color: var(--twitter-blue);
}

.fa-instagram {
    background-color: var(--pink);
}

.fa-rss {
    background-color: var(--wifi-yellow);
}

.flickr-photos-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3em;
    gap: 0.4em;
    object-fit: cover;
}

.flickr-photos-images > img {
    width: 4.375em;
    height: 4.375em;
}

.recent-tweets-box {
    display: flex;
}

.recent-tweets-box > i {
    width: 0.8em;
    height: 0.8em;
    padding: 1em;
    margin: 1em;
    border-radius: 50%;
    background-color: var(--twitter-background-gray);
}

.recent-tweets-box > p {
    font-size: var(--font-size-12px);
    font-family: var(--font-family-Open-Sans);
}

.link {
    color: var(--twitter-blue);
}

.enter-your-email {
    display: flex;
    background-color: var(--tab-red);
    margin-top: 2em;
    padding-left: 1em;
    justify-content: space-between;
}

.enter-your-email > p {
    font-size: var(--font-size-12px);
    font-family: var(--font-family-Open-Sans);
}

.enter-your-email > i {
    background-color: var(--tab-yellow);
    padding: 0.8em;
    color: var(--white);
}

.others {
    display: flex;
    margin-top: 4em;
}

.others > div {
    padding: 1em 3em;
} 

.colors-green {
    margin-left: 30em;
    background-color: var(--tab-green);
}

.colors-yellow {
    background-color: var(--tab-yellow);
}

.colors-red {
    background-color: var(--tab-red);
}

.colors-cyan {
    background-color: var(--footer-cyan);
}

.colors-blue {
    background-color: var(--footer-darkblue);
}




/* Medium only */
@media screen and (min-width:40em) and (max-width: 63.9375em) {
    .our-lastest-project {
        width: 37.5em;
    }

    .our-lastest-project > p {
        font-size: var(--font-size-14px);
    }

    .our-latest-projects-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .our-latest-projects-images > img {
        width: 17.9em;
        height: 13.125em;
        object-fit: cover;
    }

    .thingsfabove {
        width: 37.5em;
    }

    .thingsfabove-box {
        display: flex;
        flex-direction: column;
    }

    .menu-2 {
        display: flex;
        justify-content: space-between;
        border: solid 2px var(--border-gray);
        margin-top: 1em;
    }

    .Tab {
        margin-top: 3em;
        margin-left: 0;
    }

    .tab-open {
        display: flex;
        flex-direction: column;
        border: solid 2px var(--border-gray);
        width: 37.5em;
    }

    .company-images {
        width: 37.5em;
    }

    .company-images > img {
        width: 6.71em;
        height: 4.7em;
        object-fit: cover;
    }

    .footer-big-box {
        display: flex;
        flex-direction: column;
        width: 37.5em;
        margin: 0 auto;
    }

    .footer-hr {
        width: 37.5em;
        border: none;
        height: 0.07em;
        background-color: var(--font-black);
    }

    .footer-part2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-box {
        margin-top: 3em;
    }

    .footer-box > hr {
        width: 17.75em;
        border: none;
        height: 0.07em;
    }

    .flickr-photos-images > img {
        width: 5.625em;
        height: 5.625em;
    }

    .colors-green {
        margin-left: 7.6em;
        background-color: var(--tab-green);
    }
}




/* Small only */
@media screen and (max-width: 39.9375em) {
    .our-lastest-project {
        width: 25em;
    }

    .our-lastest-project > p {
        font-size: var(--font-size-10px);
    }

    .our-latest-projects-images {
        display: grid;
        grid-template-columns: 1fr;
    }

    .our-latest-projects-images > img {
        width: 25em;
        height: 13.125em;
        object-fit: cover;
}

    .thingsfabove {
        display: none;
    }

    .company-images {
        display: none;
    }

    .footer-big-box {
        display: flex;
        flex-direction: column;
        width: 25em;
        margin: 0 auto;
    }

    .peewee-herman {
        display: flex;
        margin-top: 2em;
    }

    .peewee-herman > img {
        width: 11em;
        height: 11em;
        border-radius: 50%;
        object-fit: cover;
    }

    .peewee-herman-content {
        display: flex;
        flex-direction: column;
    }

    .footer-hr {
        width: 25em;
        border: none;
        height: 0.1em;
        background-color: var(--font-black);
    }

    .footer-part2 {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    }
    
    .box-1 > h3 {
        display: none;
    }

    .box-1 > hr {
        display: none;
    }

    .box-1 > p {
        display: none;
    }

    .about-us-icons{
        padding-left: 3em;
    }

    .about-us-icons > i {
        font-size: 1.7em;
    }

    .box-2, .box-4 {
        display: none;
    }

    .box-3 {
        margin-top: 3em;
    }

    .footer-box > hr {
        width: 22.75em;
        border: none;
        height: 0.08em;
    }

    .recent-tweets-box > p {
        padding-top: 1em;
        font-size: var(--font-size-12px);
        font-family: var(--font-family-Open-Sans);
    }

    .others > div{
        padding: 1em 2.5em;
    }

    .colors-green {
        margin-left: 0;
        background-color: var(--tab-green);
    }
}